*.bs
*.c
*.gcda
*.gcno
*.gcov
*.log
*.o
*.old
*.prev
*.prt
*.tar.gz
*.tbz
*.tgz
*~
.*.swp
DBI-*
DBI.def
Fabian
META.yml
Makefile
ModList
MYMETA.*
Perl.xsi
blib
cover_db
dbi.eml
dbilogstrip
dbiprof
dbiproxy
dll.base
dll.exp
git-dpull
git-svn-modlist
_Inline/
nytprof*
pm_to_blib
pod2htm*
sandbox/
t/zv[gpxn]*
used-by-t/
tmp/
valgrind.log
test_output_*/
doc/*.pod
