blib
*.bs
*.c
cover_db
DBI-*
dbi.eml
Fabian
*.gcda
*.gcno
*.gcov
Makefile
META.yml
nytprof*
*.o
*.old
Perl.xsi
pm_to_blib
pod2htm*
.releaserc
*.tar.gz
*.tbz
*.tgz
tmp/*
t/zv[gpx]*
valgrind.log
xx*
ModList
git-svn-modlist
