*.bs
*.c
*.gcda
*.gcno
*.gcov
*.o
*.old
*.tar.gz
*.tbz
*.tgz
*~
.releaserc
.*.swp
DBI-*
DBI.def
Fabian
META.yml
Makefile
ModList
MYMETA.*
Perl.xsi
blib
cover_db
dbi.eml
dbilogstrip
dbiprof
dbiproxy
dll.base
dll.exp
git-dpull
git-svn-modlist
nytprof*
pm_to_blib
pod2htm*
t/zv[gpxn]*
tmp/
valgrind.log
test_output_*/
